{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WEEK Of The Year</title>
    <link  rel="stylesheet" href="{%static 'style/style_in_w.css' %}"/>
</head>
<body>
    <div id="ram">
        <div id="end"><h1>WEEK OF THE YEAR</h1></div>
            {%for week in week_names%}
            <a id="sai"href="{%url 'week_challenge' week%}">{{week| upper}}</a>
            {%endfor%}
            <strong>
            <a href="{%url 'home'%}" style = "text-decoration:none;color:white;margin-left:45%;font-weight:bold;font-size:large;color:grey/;">
                Back to Main Page 
            </a>
        </strong>

        
    </div>


    <svg version='1.1' xmlns='http://www.w3.org/2000/svg'>
        <defs>
          <filter id='goo'>
            <fegaussianblur in='SourceGraphic' result='blur' stddeviation='10'></fegaussianblur>
            <fecolormatrix in='blur' mode='matrix' result='goo' values='1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7'></fecolormatrix>
            <feblend in2='goo' in='SourceGraphic'></feblend>
          </filter>
        </defs>
      </svg>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      <span class='particle'></span>
      

</body>
</html>